# Data Cleaning Practice

### Setup

In [1]:
import pandas as pd

## Exercise #1: Create separate month, day, and year columns

In [2]:
url1='https://raw.githubusercontent.com/KeithGalli/Masterschool/master/data-cleaning/data/example1.csv'
df = pd.read_csv(url1)

In [3]:
df.head()

           date  sales
0  Jul 26, 2021      1
1  Jul 25, 2021      3
2  Oct 26, 2020      3
3  Feb 10, 2021      1
4  Sep 11, 2020      5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   sales   1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [7]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   sales   1000 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 15.8 KB

In [8]:
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['year'] = df['date'].dt.year
df['new-date'] = df['date'].dt.strftime('It is %b %d, %Y')

In [9]:
df.head()

        date  sales  month  day  year            new-date
0 2021-07-26      1      7   26  2021  It is Jul 26, 2021
1 2021-07-25      3      7   25  2021  It is Jul 25, 2021
2 2020-10-26      3     10   26  2020  It is Oct 26, 2020
3 2021-02-10      1      2   10  2021  It is Feb 10, 2021
4 2020-09-11      5      9   11  2020  It is Sep 11, 2020

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1000 non-null   datetime64[ns]
 1   sales     1000 non-null   int64
 2   month     1000 non-null   int64
 3   day       1000 non-null   int64
 4   year      1000 non-null   int64
 5   new-date  1000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 47.0+ KB

## Exercise #2: Convert 'date' column to type datetime

In [12]:
url2='https://raw.githubusercontent.com/KeithGalli/Masterschool/master/data-cleaning/data/example2.csv'
df = pd.read_csv(url2)

In [13]:
df.head()

           date  sales
0    11-26-2020      1
1  Jun 13, 2021      1
2    05-27-2020      3
3    12-23-2020      3
4    01-26-2020      2

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   sales   1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [16]:
df['date'] = pd.to_datetime(df['date'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   sales   1000 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 15.8 KB

## Exercise #3: Create full month name column (January, February, March, ...)

In [18]:
url3='https://raw.githubusercontent.com/KeithGalli/Masterschool/master/data-cleaning/data/example1.csv'
df = pd.read_csv(url3)

In [19]:
df.head()

           date  sales
0  Jul 26, 2021      1
1  Jul 25, 2021      3
2  Oct 26, 2020      3
3  Feb 10, 2021      1
4  Sep 11, 2020      5

In [20]:
df['date'] = df['date'].str.strip('~')

In [22]:
df['date']

0      Jul 26, 2021
1      Jul 25, 2021
2      Oct 26, 2020
3      Feb 10, 2021
4      Sep 11, 2020
           ...
995    Sep 16, 2020
996    Jun 25, 2020
997    Mar 14, 2021
998    Aug 31, 2020
999    Apr 10, 2021
Name: date, Length: 1000, dtype: object

In [23]:
df['date'] = pd.to_datetime(df['date'])

In [24]:
df['month'] = df['date'].dt.strftime('%B')

In [25]:
df.head()

        date  sales      month
0 2021-07-26      1       July
1 2021-07-25      3       July
2 2020-10-26      3    October
3 2021-02-10      1   February
4 2020-09-11      5  September

## Exercise #4: Grab rows that mention a 'cat'

In [27]:
url4='https://raw.githubusercontent.com/KeithGalli/Masterschool/master/data-cleaning/data/cats.csv'
df = pd.read_csv(url4)

In [28]:
df.head()

                                    text
0                   I like cats and dogs
1  The baseball player made a nice catch
2               My cat is named Whiskers
3              I caught a cold last week
4           The cat in the hat came back

In [29]:
df[df['text'].str.contains('cat')]

                                           text
0                          I like cats and dogs
1         The baseball player made a nice catch
2                      My cat is named Whiskers
4                  The cat in the hat came back
6       The caterpillar turned into a butterfly
7              I have a lot of cats at my house
10  The leaves were scattered all over the yard

In [30]:
df[df['text'].str.contains(r'\bcats*\b',regex=True,case=False)]

                               text
0              I like cats and dogs
2          My cat is named Whiskers
4      The cat in the hat came back
7  I have a lot of cats at my house
9   The Cat slept on the windowsill

## Exercise #5: Grab rows that contain an email

In [31]:
pd.options.display.max_colwidth = 300

In [33]:
url5='https://raw.githubusercontent.com/KeithGalli/Masterschool/master/data-cleaning/data/emails.csv'
df = pd.read_csv(url5)

In [35]:
df.head()

                                              text
0     The quick brown fox jumped over the lazy dog
1  This is a random sentence with no email address
2    Another random sentence with no email address
3             john@example.com is an email address
4        jane@example.com is also an email address

In [36]:
df[df['text'].str.contains('[A-Za-z]+@[A-Za-z]+.(com|edu)',regex=True)]

<ipython-input-36-5ea8a19f1042>:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df[df['text'].str.contains('[A-Za-z]+@[A-Za-z]+.(com|edu)',regex=True)]

                                                                  text
3                                 john@example.com is an email address
4                            jane@example.com is also an email address
6                   Contact me at jim@example.com for more information
8      If you have any questions, you can email me at sarah@sample.edu
11  You can also reach me at jake@sample.edu if you have any questions

In [37]:
df.tail()

                                                                     text
12                                This sentence contains no email address
13                                 Another sentence with no email address
14                             Yet another sentence with no email address
15  And so on, until the table is full of random text and email addresses
16                                                  random symbols @!#$%&

## Exercise #6: Grab rows that contain phone number

In [38]:
df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Masterschool/master/data-cleaning/data/phone-numbers.csv')

In [39]:
df.head()

                                              text
0     The quick brown fox jumped over the lazy dog
1                        hit me up at 123-345-7727
2  This is a random sentence with no email address
3    Another random sentence with no email address
4             john@example.com is an email address

In [40]:
df = df[df['text'].str.contains(r'\(*\d{3}\)*-\d{3}-\d{4}',regex=True)]

In [ ]:
df.head()

                                              text
0     The quick brown fox jumped over the lazy dog
1                        hit me up at 123-345-7727
2  This is a random sentence with no email address
3    Another random sentence with no email address
4             john@example.com is an email address

# Text Cleaning

In [ ]:
with open('./data/story-time.txt') as f:
    text = f.read()

In [ ]:
print(text)

Once upon a time, in a land far, far away, there lived a beautiful unicorn named Luna. Luna lived in a magical forest filled with all kinds of enchanted creatures, but she was the only unicorn in the land.

One day, Luna decided that she wanted to learn about the world beyond the forest. She wanted to understand how the world worked and how she could use her magic to help others. So, she set out on a journey to learn about data analytics.

As she wandered through the forest, Luna came across a wise old owl who was known for his knowledge of the world beyond the trees. The owl agreed to teach Luna about data analytics, and so they spent many hours together, learning about algorithms, data mining, and other important concepts.

Luna quickly proved to be a natural at data analytics. She was able to understand complex concepts with ease and was able to apply her knowledge to help others in the forest. She used her magic to create intricate models that helped the other creatures understand the world around them and make better decisions.

Over time, Luna's knowledge of data analytics grew, and she became known throughout the forest as the most skilled unicorn in all the land. She used her knowledge to help others, and she became a beloved figure in the forest.

And so, Luna the unicorn lived happily ever after, using her knowledge of data analytics to help others and make the world a better place.

## Exercise 7: Remove punctuation from text

In [ ]:
import string

new_text = text.translate(str.maketrans('','', string.punctuation))

In [ ]:
print(new_text)

Once upon a time in a land far far away there lived a beautiful unicorn named Luna Luna lived in a magical forest filled with all kinds of enchanted creatures but she was the only unicorn in the land

One day Luna decided that she wanted to learn about the world beyond the forest She wanted to understand how the world worked and how she could use her magic to help others So she set out on a journey to learn about data analytics

As she wandered through the forest Luna came across a wise old owl who was known for his knowledge of the world beyond the trees The owl agreed to teach Luna about data analytics and so they spent many hours together learning about algorithms data mining and other important concepts

Luna quickly proved to be a natural at data analytics She was able to understand complex concepts with ease and was able to apply her knowledge to help others in the forest She used her magic to create intricate models that helped the other creatures understand the world around them and make better decisions

Over time Lunas knowledge of data analytics grew and she became known throughout the forest as the most skilled unicorn in all the land She used her knowledge to help others and she became a beloved figure in the forest

And so Luna the unicorn lived happily ever after using her knowledge of data analytics to help others and make the world a better place

## Exercise 8: Remove stopwords from text

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
stop_words = set(stopwords.words('english'))

word_tokens = word_tokenize(new_text)

filtered = [w for w in word_tokens if not w.lower() in stop_words]

In [ ]:
filtered

['upon',
 'time',
 'land',
 'far',
 'far',
 'away',
 'lived',
 'beautiful',
 'unicorn',
 'named',
 'Luna',
 'Luna',
 'lived',
 'magical',
 'forest',
 'filled',
 'kinds',
 'enchanted',
 'creatures',
 'unicorn',
 'land',
 'One',
 'day',
 'Luna',
 'decided',
 'wanted',
 'learn',
 'world',
 'beyond',
 'forest',
 'wanted',
 'understand',
 'world',
 'worked',
 'could',
 'use',
 'magic',
 'help',
 'others',
 'set',
 'journey',
 'learn',
 'data',
 'analytics',
 'wandered',
 'forest',
 'Luna',
 'came',
 'across',
 'wise',
 'old',
 'owl',
 'known',
 'knowledge',
 'world',
 'beyond',
 'trees',
 'owl',
 'agreed',
 'teach',
 'Luna',
 'data',
 'analytics',
 'spent',
 'many',
 'hours',
 'together',
 'learning',
 'algorithms',
 'data',
 'mining',
 'important',
 'concepts',
 'Luna',
 'quickly',
 'proved',
 'natural',
 'data',
 'analytics',
 'able',
 'understand',
 'complex',
 'concepts',
 'ease',
 'able',
 'apply',
 'knowledge',
 'help',
 'others',
 'forest',
 'used',
 'magic',
 'create',
 'intricate',
 'models',
 'helped',
 'creatures',
 'understand',
 'world',
 'around',
 'make',
 'better',
 'decisions',
 'time',
 'Lunas',
 'knowledge',
 'data',
 'analytics',
 'grew',
 'became',
 'known',
 'throughout',
 'forest',
 'skilled',
 'unicorn',
 'land',
 'used',
 'knowledge',
 'help',
 'others',
 'became',
 'beloved',
 'figure',
 'forest',
 'Luna',
 'unicorn',
 'lived',
 'happily',
 'ever',
 'using',
 'knowledge',
 'data',
 'analytics',
 'help',
 'others',
 'make',
 'world',
 'better',
 'place']